<!DOCTYPE html>
<html lang="en">

<head>
    <title>Baymax</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='displayMC.js') }}"></script>

    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 30px 64px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 32px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row marketing" id="toAppendTo">

        </div>
    </div>
</body>

</html>